$breakpoints: (
  XS: 0,
  SM: 576px,
  MD: 768px,
  LG: 992px,
  XL: 1200px,
  XXL: 1400px
);

//Color Stack

$colightblue: #F1F7FE;
$colightgreen: #ABF4D0;
$colightbrown: #FEF7F4;
$colightpurple: #C8B7FE;
$colightorange: #FECDD6;

$cogreyblue: #89A0BC;
$cobrown: #98817A;
$codarkpurple: #7C6EA9;

$cored: #E54340;
$cogreen: #70BC74;
$coorange: #FEA016;
$cowhite: #fff;
$coblack: #000;